In [1]:
#STEPS ->
	#1 - Import the data
	#2 - Clean the data
	#3 - Split the data into a training set and a test set
	#4 - Create a Model
	#5 - Check the output
	#6 - Improve

#TOOLS -> ['Numpy', 'Pandas', 'Scikit-learn', 'Matplotlib', 'Kaggle', 'Jupyter Notebook']

In [2]:
import pandas as pd
data_frame = pd.read_csv('data.csv') # Read from CSV to Pandas DataFrame
data_frame.shape # Prints number of rows and columns in dataframe

(18207, 89)

In [3]:
data_frame.describe() # Summary statistics for numerical columns

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,9103.000000,214298.338606,25.122206,66.238699,71.307299,1597.809908,1.113222,2.947299,2.361308,19.546096,...,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887
std,5256.052511,29965.244204,4.669943,6.908930,6.136496,272.586016,0.394031,0.660456,0.756164,15.947765,...,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119
min,0.000000,16.000000,16.000000,46.000000,48.000000,731.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4551.500000,200315.500000,21.000000,62.000000,67.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,9103.000000,221759.000000,25.000000,66.000000,71.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13654.500000,236529.500000,28.000000,71.000000,75.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,18206.000000,246620.000000,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [4]:
data_frame.values #Return a Numpy representation of the DataFrame.

array([[0, 158023, 'L. Messi', ..., 14.0, 8.0, '€226.5M'],
       [1, 20801, 'Cristiano Ronaldo', ..., 14.0, 11.0, '€127.1M'],
       [2, 190871, 'Neymar Jr', ..., 15.0, 11.0, '€228.1M'],
       ...,
       [18204, 241638, 'B. Worman', ..., 6.0, 13.0, '€165K'],
       [18205, 246268, 'D. Walker-Rice', ..., 8.0, 9.0, '€143K'],
       [18206, 246269, 'G. Nugent', ..., 12.0, 9.0, '€165K']],
      dtype=object)

In [5]:
# Filtering
data_frame[data_frame["Age"]>30].head() # only the female data appear

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
8,8,155862,Sergio Ramos,32,https://cdn.sofifa.org/players/4/19/155862.png,Spain,https://cdn.sofifa.org/flags/45.png,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M

In [6]:
df1 = pd.DataFrame(data_frame, columns=['Name', 'Wage', 'Value'])
print(df1)

                       Name   Wage    Value
0                  L. Messi  €565K  €110.5M
1         Cristiano Ronaldo  €405K     €77M
2                 Neymar Jr  €290K  €118.5M
3                    De Gea  €260K     €72M
4              K. De Bruyne  €355K    €102M
5                 E. Hazard  €340K     €93M
6                 L. Modrić  €420K     €67M
7                 L. Suárez  €455K     €80M
8              Sergio Ramos  €380K     €51M
9                  J. Oblak   €94K     €68M
10           R. Lewandowski  €205K     €77M
11                 T. Kroos  €355K   €76.5M
12                 D. Godín  €125K     €44M
13              David Silva  €285K     €60M
14                 N. Kanté  €225K     €63M
15                P. Dybala  €205K     €89M
16                  H. Kane  €205K   €83.5M
17             A. Griezmann  €145K     €78M
18            M. ter Stegen  €240K     €58M
19              T. Courtois  €240K   €53.5M
20          Sergio Busquets  €315K   €51.5M
21                E. Cavani  €200K     €60M
22                 M. Neuer  €130K     €38M
23                S. Agüero  €300K   €64.5M
24             G. Chiellini  €215K     €27M
25                K. Mbappé  €100K     €81M
26                 M. Salah  €255K   €69.5M
27                 Casemiro  €285K   €59.5M
28             J. Rodríguez  €315K   €69.5M
29               L. Insigne  €165K     €62M
...                     ...    ...      ...
18177             R. Roache    €1K     €70K
18178          L. Wahlstedt    €1K     €50K
18179           J. Williams    €1K     €50K
18180              M. Hurst    €1K     €40K
18181              C. Maher    €1K     €50K
18182               Y. Góez    €1K     €50K
18183         K. Pilkington    €1K       €0
18184             D. Horton    €1K     €40K
18185              E. Tweed    €1K     €50K
18186          Zhang Yufeng    €1K     €60K
18187             C. Ehlich    €1K     €40K
18188            L. Collins    €1K     €60K
18189            A. Kaltner    €1K     €60K
18190            L. Watkins    €1K     €60K
18191  J. Norville-Williams    €1K     €50K
18192             S. Squire    €1K     €50K
18193            N. Fuentes    €1K     €50K
18194              J. Milli    €1K     €50K
18195            S. Griffin    €1K     €60K
18196           K. Fujikawa    €1K     €60K
18197            D. Holland    €1K     €60K
18198            J. Livesey    €1K     €60K
18199          M. Baldisimo    €1K     €70K
18200              J. Young    €1K     €60K
18201              D. Walsh    €1K     €60K
18202          J. Lundstram    €1K     €60K
18203    N. Christoffersson    €1K     €60K
18204             B. Worman    €1K     €60K
18205        D. Walker-Rice    €1K     €60K
18206             G. Nugent    €1K     €60K

[18207 rows x 3 columns]

In [7]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

wage = df1['Wage'].replace('[\€,]', '', regex=True).apply(value_to_float)
value = df1['Value'].replace('[\€,]', '', regex=True).apply(value_to_float)

df1['Wage'] = wage
df1['Value'] = value

df1['Difference'] = df1['Value'] - df1['Wage']
df1.sort_values('Difference', ascending=False)

                    Name      Wage        Value   Difference
2              Neymar Jr  290000.0  118500000.0  118210000.0
0               L. Messi  565000.0  110500000.0  109935000.0
4           K. De Bruyne  355000.0  102000000.0  101645000.0
5              E. Hazard  340000.0   93000000.0   92660000.0
15             P. Dybala  205000.0   89000000.0   88795000.0
16               H. Kane  205000.0   83500000.0   83295000.0
25             K. Mbappé  100000.0   81000000.0   80900000.0
7              L. Suárez  455000.0   80000000.0   79545000.0
17          A. Griezmann  145000.0   78000000.0   77855000.0
10        R. Lewandowski  205000.0   77000000.0   76795000.0
1      Cristiano Ronaldo  405000.0   77000000.0   76595000.0
11              T. Kroos  355000.0   76500000.0   76145000.0
31            C. Eriksen  205000.0   73500000.0   73295000.0
30                  Isco  315000.0   73500000.0   73185000.0
3                 De Gea  260000.0   72000000.0   71740000.0
26              M. Salah  255000.0   69500000.0   69245000.0
28          J. Rodríguez  315000.0   69500000.0   69185000.0
32              Coutinho  340000.0   69500000.0   69160000.0
9               J. Oblak   94000.0   68000000.0   67906000.0
6              L. Modrić  420000.0   67000000.0   66580000.0
43             M. Icardi  130000.0   64500000.0   64370000.0
23             S. Agüero  300000.0   64500000.0   64200000.0
45              P. Pogba  210000.0   64000000.0   63790000.0
14              N. Kanté  225000.0   63000000.0   62775000.0
47             R. Lukaku  230000.0   62500000.0   62270000.0
29            L. Insigne  165000.0   62000000.0   61835000.0
55               L. Sané  195000.0   61000000.0   60805000.0
21             E. Cavani  200000.0   60000000.0   59800000.0
13           David Silva  285000.0   60000000.0   59715000.0
36               G. Bale  355000.0   60000000.0   59645000.0
...                  ...       ...          ...          ...
5272             C. Deac       0.0          0.0          0.0
14054          P. Halder       0.0          0.0          0.0
4823            P. Anton       0.0          0.0          0.0
5245          R. Cardozo       0.0          0.0          0.0
2984           M. Borjan       0.0          0.0          0.0
6841            N. Bancu       0.0          0.0          0.0
7990           B. Mitrev       0.0          0.0          0.0
5126           L. Cáceda       0.0          0.0          0.0
9568         C. Gonzáles       0.0          0.0          0.0
8057        D. Mendiseca       0.0          0.0          0.0
8061          S. Gbohouo       0.0          0.0          0.0
11247        A. Cicâldău       0.0          0.0          0.0
2999           K. Rausch       0.0          0.0          0.0
17436     D. Lalhlimpuia       0.0          0.0          0.0
8273           D. Furman       0.0          0.0          0.0
16539    L. Lalruatthara       0.0          0.0          0.0
3037           Y. Banana       0.0          0.0          0.0
5082          J. Paredes       0.0          0.0          0.0
4945             H. Vaca       0.0          0.0          0.0
17672           R. Kawai    1000.0          0.0      -1000.0
10356           F. Kippe    1000.0          0.0      -1000.0
12453            W. Díaz    1000.0          0.0      -1000.0
14129        Y. Nakazawa    1000.0          0.0      -1000.0
18183      K. Pilkington    1000.0          0.0      -1000.0
17726          T. Warner    1000.0          0.0      -1000.0
17752        S. Phillips    1000.0          0.0      -1000.0
12192       H. Sulaimani    3000.0          0.0      -3000.0
3550         S. Nakamura    4000.0          0.0      -4000.0
4228            B. Nivet    5000.0          0.0      -5000.0
864               Hilton   18000.0          0.0     -18000.0

[18207 rows x 4 columns]

In [8]:
import seaborn as sns
sns.set()

graph = sns.scatterplot(x="Wage", y="Value", data=df1)
print(graph)

AxesSubplot(0.125,0.11;0.775x0.77)

In [19]:
from bokeh.plotting import figure,show
from bokeh.models import HoverTool

TOOLTIPS = HoverTool(tooltips=[
    ("Name", "@Name"),
    ("(Wage,Value)", "(@Wage, @Value)"),
    ("index", "$index")]
)

p = figure(title="Soccer 2019", x_axis_label='Wage', y_axis_label='Value', plot_width=700, plot_height=700, tools=[TOOLTIPS])
p.circle('Wage', 'Value', size=15, source=df1)
show(p)

In [20]:
#Successful First Jupyter And Machine Learning Project!